#files
*.pdf
#
data_v4/*
data/*
models/*
results/*
images/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
src/PyTorch_CIFAR10/*
src/interpensembles/cifar-10-batches-py/*
src/interpensembles/cifar-10-python.tar.gz
src/interpensembles.egg-info/*
docs/_build/*
etc/*
scripts/cifar-10-python.tar.gz
scripts/cifar-10-batches-py/*
scripts/random_features/results/*
.DS_Store
tests/test_mats/*
*.pyc
*.swp
scripts/outputs/*
scripts/paperfigs/outputs/*
scripts/multirun/*
scripts/.ipynb_checkpoints/*
